<html>
    <head>
    <title>Bookshopp</title>
    <link href="/static/css/book.css" rel="stylesheet" type="text/css">
    </head>
    <body >
      <div class="outer">
        <div class="header"></div>
        <div class="banner"></div>
        <div class="booksection">

          <div class="part"></div>
          <div class="part"></div>
          <div class="part"></div>
          <div class="part"></div>
          
          <div class="part"></div>
          <div class="part"></div>
          <div class="part"></div>
          <div class="part"></div>
        </div>

        <div class="footer"></div>
      </div>
    </body>
</html>
